<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>ToDo list</title>
  </head>
  <body>
    
    <header class="container">

    </header>

    <main class="container">
        {% block task_delete %}
        {% endblock  %}
        {% block task_form %}
        {% endblock  %}
        {% block task_list %}
        {% endblock  %}
        {% block task_detail %}
        {% endblock  %}
    
    </main>
  </body>
</html>